<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>BookStore</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DoLogin</servlet-name>
        <servlet-class>com.oracleoaec.control.DoLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoLogin</servlet-name>
        <url-pattern>/doLogin.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoRegister</servlet-name>
        <servlet-class>com.oracleoaec.control.Doregister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoRegister</servlet-name>
        <url-pattern>/DoRegister.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Booklist</filter-name>
        <filter-class>com.oracleoaec.filter.BookFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Booklist</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AllBookpage</filter-name>
        <filter-class>com.oracleoaec.filter.AllBookFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AllBookpage</filter-name>
        <url-pattern>/page/books/detail.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BookSerlvet</servlet-name>
        <servlet-class>com.oracleoaec.control.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookSerlvet</servlet-name>
        <url-pattern>/BookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCartItem</servlet-name>
        <servlet-class>com.oracleoaec.control.AddCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCartItem</servlet-name>
        <url-pattern>/ShopCart.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Userfilter</filter-name>
        <filter-class>com.oracleoaec.filter.Userfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Userfilter</filter-name>
        <url-pattern>/page/user/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>deletecart</servlet-name>
        <servlet-class>com.oracleoaec.control.DeleteCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletecart</servlet-name>
        <url-pattern>/deletecart.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doAddConsignee</servlet-name>
        <servlet-class>com.oracleoaec.control.DoAddConsigness</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doAddConsignee</servlet-name>
        <url-pattern>/doAddConsignees.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>conigeesFilter</filter-name>
        <filter-class>com.oracleoaec.filter.ConsignessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>conigeesFilter</filter-name>
        <url-pattern>/page/user/contines.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>deleteConsignee</servlet-name>
        <servlet-class>com.oracleoaec.control.DeleteConsigness</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteConsignee</servlet-name>
        <url-pattern>/deleteConsignee.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>userinfoFilter</filter-name>
        <filter-class>com.oracleoaec.filter.UserinfoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userinfoFilter</filter-name>
        <url-pattern>/page/user/userinfo.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>addOder</servlet-name>
        <servlet-class>com.oracleoaec.control.DoOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addOder</servlet-name>
        <url-pattern>/DoOrders.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>allorderfilter</filter-name>
        <filter-class>com.oracleoaec.filter.AllOderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>allorderfilter</filter-name>
        <url-pattern>/page/orders/myOders.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ajaxcheckusername</servlet-name>
        <servlet-class>com.oracleoaec.control.AjaxCheckUsername</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxcheckusername</servlet-name>
        <url-pattern>/checkusername.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>doExit</servlet-name>
        <servlet-class>com.oracleoaec.control.Doexit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doExit</servlet-name>
        <url-pattern>/exit.do</url-pattern>
    </servlet-mapping>
</web-app>